modules = ["python-3.12"]
run = "streamlit run main.py"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "streamlit run main.py"]

[workflows]
runButton = "Run Discord Bot"

[[workflows.workflow]]
name = "Run Discord Bot"
author = 47149491
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
